<tr class="task task_<%= @task.id%>">
  <td>
    <input name="is_done" class="is_done" data-task_id="<%= @task.id%>" type="checkbox">
  </td>
  <td>
    <%=@task.name%>
  </td>
  <td>
    <span class="fa fa-sort"></span>&nbsp;
    <span class="fa fa-pencil" data-name="<%= @task.name %>" data-task_id="<%= @task.id %>" data-project_id="<%= @task.project_id %>"></span>&nbsp;
    <span class="fa fa-trash" data-type="task" data-task_id="<%= @task.id %>"></span>
  </td>
</tr>