<tr class="task task_<%= @task.id%>">
  <td>
    <input name="is_done" class="is_done" data-task_id="<%= @task.id%>" type="checkbox">
  </td>
  <td class="task_name">
    <%=@task.name%>
  </td>
  <td>
    <div class="task_tools">
      <span class="fa fa-chevron-up"></span><span class="fa fa-chevron-down"></span>&nbsp;|
      <span class="fa fa-pencil" data-name="<%= @task.name %>" data-task_id="<%= @task.id %>" data-project_id="<%= @task.project_id %>"></span>&nbsp;|
    <span class="fa fa-trash" data-type="task" data-task_id="<%= @task.id %>"></span>
    </div>
  </td>
</tr>