<div class="row project_<%= @project.id%>">
  <div class="col-md-8 col-md-offset-2">
    <table class="table">
      <thead>
      <tr>
        <td>
          <span class="glyphicon glyphicon-calendar"></span>
        </td>
        <td>
          <%=@project.name%>
        </td>
        <td>
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;
          <span class="glyphicon glyphicon-trash" onclick="remove_item(<%=@project.id%>,'project')"></span>
        </td>
      </tr>

      <tr>
        <%= form_tag do %>
            <td>
              <span class="glyphicon glyphicon-plus"></span>
            </td>
            <td>
              <%= text_field(:text,'',{class: 'form-control task_filed', placeholder: 'Start typing here to create a task...'})%>
            </td>
            <td>
              <span class="btn btn-add_task" onclick="add_task(<%=@project.id%>)">Add task</span>
            </td>
        <% end %>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>