<%if @projects.present? %>



<div class="todo-list">
    <% @projects.each do |project|%>
      <div class="row project_<%= project.id%>">
        <div class="col-md-8 col-md-offset-2">
          <table class="table">
            <thead>
            <tr>
              <td>
                <span class="glyphicon glyphicon-calendar"></span>
              </td>
              <td>
                <%=project.name%>
              </td>
              <td>
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                <span class="glyphicon glyphicon-trash" onclick="remove_item(<%=project.id%>,'project')"></span>
              </td>
            </tr>

            <tr>
              <%= form_tag do %>
                  <td>
                    <span class="glyphicon glyphicon-plus"></span>
                  </td>
                  <td>
                    <%= text_field(:text,'',{class: 'form-control task_filed', placeholder: 'Start typing here to create a task...'})%>
                  </td>
                  <td>
                    <span class="btn btn-add_task" onclick="add_task(<%=project.id%>)">Add task</span>
                  </td>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% project.tasks.each do |task|%>
            <tr class="task task_<%= task.id%>">
              <td>
                <input type="checkbox">
              </td>
              <td>
                <%=task.name%>
              </td>
              <td>
                <span class="fa fa-sort"></span>&nbsp;
                <span class="fa fa-pencil"></span>&nbsp;
                <span class="fa fa-trash" onclick="remove_item(<%=task.id%>,'task')"></span>
              </td>
            </tr>
            <%end%>
            </tbody>
          </table>
        </div>
      </div>
    <%end%>
    <div align="center" class="btn-add_todo_1">
        <!--<%= link_to 'Add TODO List',:add_project,{class: 'btn btn-primary btn-lg',remote: true} %>-->
        <!--<%= link_to 'Add TODO List',:add_project,{class: 'btn btn-primary btn-lg',remote: true} %>-->
    </div>
</div>
<%end%>

<!--<div class="row empty_projects hidden">-->
  <!--<div class="col-md-offset-3 col-md-6 text-center">-->
    <!--<h2>No projects found</h2>-->
    <!--<%= form_tag(:add_project, remote: true) do  %>-->
        <!--<div>-->
          <!--<%= text_field(:name,'',{class: 'form-control', placeholder: 'Start typing here to create a project'})%>-->
        <!--</div><br>-->
        <!--<div>-->
          <!--<%= submit_tag 'Add TODO List', class: 'btn btn-primary btn-lg btn-add_todo'%>-->
        <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->
<!--</div>-->