
<div class="todo-list">
    <% @projects.each do |project|%>
          <div class="row project_<%= project.id%>">
            <div class="col-md-8 col-md-offset-2">
              <table class="table">
                <thead>
                <tr>
                  <td>
                    <span class="glyphicon glyphicon-calendar"></span>
                  </td>
                  <td class="pr_name">
                    <%=project.name%>
                  </td>
                  <td>
                    <span class="glyphicon glyphicon-pencil" data-project_id = "<%=project.id%>" data-title = "<%=project.name%>" data-toggle="modal" data-target="#edit_project"></span>&nbsp;
                    <span class="glyphicon glyphicon-trash" data-project_id = "<%=project.id%>" data-type = 'project'></span>
                  </td>
                </tr>

                <tr>
                  <%= form_tag(:add_task, method: 'post', remote: true) do %>
                      <td>
                        <span class="glyphicon glyphicon-plus"></span>
                      </td>
                      <td>
                        <%= text_field(:task,:project_id,type: 'hidden',value: project.id)%>
                        <%= text_field(:task,:name,class: 'form-control task_field', placeholder: 'Start typing here to create a task...')%>
                      </td>
                      <td>
                        <%= button_tag('Add task',class:'btn btn-add_task') %>
                      </td>
                  <% end %>
                </tr>
                </thead>
                <tbody>
                <% project.tasks.each do |task|%>
                    <tr <%if task.completed == 'true'%> style="background-color: #DCBFBF" <%end%>class="task task_<%= task.id%>">
                      <td>
                        <input <%if task.completed == 'true'%>checked <%end%> name="is_done" class="is_done" data-task_id="<%= task.id%>" type="checkbox">
                      </td>
                      <td>
                        <%=task.name%>
                      </td>
                      <td>
                        <span class="fa fa-sort"></span>&nbsp;
                        <span class="fa fa-pencil" data-name="<%= task.name %>" data-task_id="<%= task.id %>" data-project_id="<%= task.project_id %>"></span>&nbsp;
                        <span class="fa fa-trash" data-type="task" data-task_id="<%= task.id %>"></span>
                      </td>
                    </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
    <%end%>
</div>

<!--Modal window ADD Project-->

<div class="modal fade" tabindex="-1" role="dialog" id="add_project">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New TODO Project</h4>
      </div>
      <div class="modal-body">
        <%= form_tag(:add_project, method: 'post', remote: true) do %>
            <div class="form-group">
              <label for="todo-add" class="control-label">Title</label>
              <%= text_field(:project,:name,class: 'form-control', placeholder: 'Start typing here to create a project',id:'todo-add')%>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= button_tag('Add project',class:'btn btn-primary') %>
            </div>
        <%end%>
      </div>
    </div>
  </div>
</div>


<!--Modal window EDIT Project-->

<div class="modal fade" tabindex="-1" role="dialog" id="edit_project">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit TODO Project</h4>
      </div>
      <div class="modal-body">
        <%= form_tag(:edit_project, method: 'post', remote: true) do %>
            <div class="form-group">
            <%= text_field(:project,:id,type: 'hidden', id: 'project_id')%>
            <label for="edit_title" class="control-label">Title</label>
            <%= text_field(:project,:name,class: 'form-control',id:'edit_title')%>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= button_tag('Edit project',class:'btn btn-primary') %>
            </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<div align="center" style="margin-top: 5%">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_project">Add TODO Project</button>
</div>
