<%if @projects.present? %>
    <div class="todo-list">
    <% @projects.each do |project|%>
          <div class="row project_<%= project.id%>">
            <div class="col-md-8 col-md-offset-2">
              <table class="table">
                <thead>
                <tr>
                  <td>
                    <span class="glyphicon glyphicon-calendar"></span>
                  </td>
                  <td>
                    <%=project.name%>
                  </td>
                  <td>
                    <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-project_id = "<%=project.id%>" data-target="#todo_form" data-todo_title = "<%= project.name%>"
                          data-form_name="Edit TODO List"></span>&nbsp;
                    <span class="glyphicon glyphicon-trash" onclick="remove_item(<%=project.id%>,'project')"></span>
                  </td>
                </tr>

                <tr>
                  <%= form_tag do %>
                      <td>
                        <span class="glyphicon glyphicon-plus"></span>
                      </td>
                      <td>
                        <%= text_field(:text,'',{class: 'form-control task_filed', placeholder: 'Start typing here to create a task...'})%>
                      </td>
                      <td>
                        <span class="btn btn-add_task" onclick="add_task(<%=project.id%>)">Add task</span>
                      </td>
                  <% end %>
                </tr>
                </thead>
                <tbody>
                <% project.tasks.each do |task|%>
                    <tr class="task task_<%= task.id%>">
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>
                        <%=task.name%>
                      </td>
                      <td>
                        <span class="fa fa-sort"></span>&nbsp;
                        <span class="fa fa-pencil"></span>&nbsp;
                        <span class="fa fa-trash" onclick="remove_item(<%=task.id%>,'task')"></span>
                      </td>
                    </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
    <%end%>
</div>
<%end%>

<!--Modal window-->

<div style="margin-top: 10%" class="modal fade" id="todo_form" tabindex="-1" role="dialog" aria-labelledby="TODOLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="TODOLabel"></h4>
      </div>
      <div class="modal-body">
        <%= form_tag(:add_project, method: 'post', :remote => true) do %>
          <div class="form-group">
            <label for="todo-input" class="control-label">Title</label>
            <%= text_field(:name,'',{class: 'form-control', placeholder: 'Start typing here to create a project',id:'todo-input'})%>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= button_tag('Add list',{class:'btn btn-primary'}) %>
            </div>

        <%end%>
      </div>

    </div>
  </div>
</div>

<div align="center" style="margin-top: 30px">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#todo_form" data-form_name="New TODO List">Add TODO List</button>
</div>
